html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Geist Mono", monospace;
}

h1 {
	font-weight: 900;
	font-size: 45px;
}

.ctaBtn {
	background-color: none;
	border: 2px solid #000;
	padding: 5px 10px;
	box-shadow: 5px 5px 0px -1px #3d3d3d;
}

.ctaBtn:hover {
	position: absolute;
	margin-top: 1px;
	margin-left: 1px;
	box-shadow: none;
	cursor: pointer;
}

.sectionWidth {
	width: 100%;
}

/**********************
	  Navigation
**********************/
nav {
	max-width: 1100px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

ul li {
	list-style: none;
	display: inline-flex;
}

li {
	display: flex;
	gap: 20px;
}

.navLink {
	text-decoration: none;
	color: #000;
}

.hero {
	max-width: 1000px;
	margin: auto;
}
